*{
    font-family: "Roboto", sans-serif;
}

html{
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    width: 100%;
}

main{
    background-color: #f9faf8;
}

.header, .hero, .info, .quote, .action{
    display: flex;
    margin: auto;
}

.header, .hero, .action{
    width: 70%;
}

.info, .quote{
    width: 60%;
}

.dark, footer{
    background-color: #1f2937;
}

.hero p, .header a{
    font-size: 18px;
    color: #e5e7eb;
}

.header{
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}

.header p{
    font-size: 24px;
    color: #f9faf8;
}

.header ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 16px;
}

.hero{
    max-width: 1000px;
    padding-bottom: 50px;
    gap: 30px;
    justify-content: space-between;
}

.text{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.bavaria{
    margin-top: -20px;
    margin-bottom: 20px;
}
.image{
    max-width: 600px;
    flex: auto;
}



.image img, .blocked{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.info{
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.collection{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 90%;
    max-width: 800px;
    gap: 20px;
}

.container{
    max-width: 100px;
    margin: 0;
    flex: none;
}

.block{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #3882f6;
    border-radius: 12px;
    overflow: hidden;
}

.location{
    color:#1f2937;
}

.grey{
    background-color: #e5e7eb;
}

.quote{
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
/*quote text*/
.inspire{
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
    font-style: italic;
}

.source{
    margin-top: -30px;
}

.action{
    max-width: 700px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    color:#f9faf8;
    background-color: #3882f6;
    margin: 20px auto;
    border-radius: 12px;
}

.top{
    font-weight: bold;
}

.bottom{
    margin-top: -12px;
}

footer{
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*this website is awesome*/
h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
/*Places you might want to visit*/
h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

button{
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 6px;
    padding: 5px 10px;
    width: 120px;
    color:#f9faf8;
}

a{
    color:#f9faf8;
    text-decoration: none;
}
a:hover{
    color: #acacac;
}